.nav-link {
  text-decoration: none;
  color: #64748b;
  padding: 0.7rem 1rem;
}
.nav-link:hover {
  background-color: #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.logout-btn {
  cursor: pointer;
  padding: 5px;
  border: 0.5px solid transparent;
  align-self: center;
  color: #ffffff;
  background-color: #0284c7;
  border-radius: 6px;
  font-size: 14px;
}
.shelf-item-list {
  list-style: none;
}
.shelf-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shelf-img {
  width: 140px;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-start;
  margin-left: 18px;
  margin-top: 8px;
  width: 40%;
}
.title {
  color: #334155;
  text-align: left;
  font-size: 16px;
}
.author {
  color: #475569;
  font-size: 12px;
}
.rating {
  color: #475569;
  font-size: 12px;
}
.star {
  color: #fbbf24;
  font-weight: 500;
}
.read-status {
  color: #0284c7;
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    margin-left: 2px;
  }
  .shelf-img {
    width: 80px;
  }
  .title {
    font-size: 12px;
  }
  .author {
    color: #475569;
    font-size: 11px;
  }
  .rating {
    color: #475569;
    font-size: 11px;
  }
  .read-status {
    color: #0284c7;
    font-size: 11px;
  }
}
